<nav class="navbar">
    <div class="navbar-left">
        <span class="menu-icon" [routerLink]="['/home']">&#x2302;</span>
    </div>
    <div class="navbar-center">
        <h1>Phones Stores</h1>
    </div>
    <div class="navbar-right">
      <a [routerLink]="['']">Logout</a>
  </div>
</nav>

<h1>Store id: {{store?.id}}</h1>
<section class="tehnical-details">
    <p>Name: {{store?.name}}</p>

    <ng-container *ngIf="(phoneModelList | async) as phones">
        <app-phone-model *ngFor="let phonemodel of phones.slice(slicingindex * 5, 5 + slicingindex * 5)" [PhoneModel]="phonemodel" (phoneModelDeleted)="onPhoneModelDeleted()"></app-phone-model>
    </ng-container>
    <div class="pagingdiv">
        <div *ngIf="slicingindex>0" class="nextindexarrow">
            <button type="submit" class="pagingbutton" (click)="decIndex()">
                <img src="https://cdn-icons-png.flaticon.com/128/271/271220.png" alt="left">
            </button>
        </div>
        <div *ngIf="slicingindex>0" class="nextindex" (click)="decIndex()">
            {{slicingindex}}
        </div>
        <div class="currentindex">
            {{slicingindex+1}}
        </div>
        <div *ngIf="(phoneModelList | async)??''.length/5>slicingindex+1" class="nextindex" (click)="incIndex()">
            {{slicingindex+2}}
        </div>
        <div *ngIf="(phoneModelList | async)??''.length/5>slicingindex+1" class="nextindexarrow">
            <button type="submit" class="pagingbutton" (click)="incIndex()">
                <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png" alt="right">
            </button>
        </div>
    </div>
</section>