.maindiv{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 20px;
}
.Results{
    padding: 20px;
    background-color: lightgray;
    border-radius: 50px;
}

.crudforms{
    padding: 20px;
    background-color: lightgray;
    border-radius: 50px;
}

.managebuttons{
    margin-top: 50px;
    height: 50px;
}

.addbutton{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 100px;
    background-color: lightcyan;
    color: black;
    border-radius: 5px;
    height: 100%;
}

.addbutton:hover{
   cursor: pointer;
}


.crudlabel{
    font-size: 24px;
}

.savebutton{
    width: 150px;
    height: 25px;
    background-color: lightgreen;
    border-radius: 20px;
}

.savebutton:enabled:hover{
    cursor:pointer ;
    background-color: green;
}

.controlsdiv{
    display: flex;
}

.sortbutton{
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border: 0px;
}

.sortbutton img{
    width: 30px;
    height: 30px;
}

.sortbutton:hover{
    cursor: pointer;
}

.chartdiv{
    height: 200px;
    width: 500px;
}

.chartbutton:hover{
    cursor: pointer;
}

.chartdiv{
    display: flex;
    margin-left: 5%;
    width: 80%;
}

.chartbutton{
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border: 0px;
}

.chartbutton img{
    width: 30px;
    height: 30px;
    margin-bottom: 8px;
}

.chartbuttondiv{
    margin-top: 80px;
}

.chartandbutton{
    margin-top: 20px;
    display: flex;
    height: 200px;
}

.pagingdiv{
    width: 20%;
    float: right;
    display: flex;
}

.currentindex{
    border: 1px solid black;
    margin-left: 2px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
}

.nextindex{
    border: 1px solid black;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background-color: lightgrey;
    border-radius: 8px;
    text-align: center;
}

.nextindex:hover{
    cursor: pointer;
    background-color: lightslategray;
}

.pagingbutton{
    background-color: lightgrey;
    border: 0;
}

.pagingbutton img{
    border: 0;
    width: 20px;
    height: 20px;
}

.nextindexarrow{
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.pagingbutton:hover{
    cursor:pointer;
}

.entitychoose{
    display: flex;
}

.entitychoosebutton{
    margin-left: 10px;
    width: 200px;
    height: 50px;
    font-size: 16px;
}

.storedisplay{
    width: auto;
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}

.storecontrols{
    display: flex;
}
.detailspage{
    width: 80%;
    align-self: center;
    font-size: 16px;
    background-color: lightblue;
    color: white;
}

.deletestorebutton{
    margin-top: 15px;
    height: 20px;
    width: 20%;
    font-size: 16px;
    background-color: lightcoral;
    color: white;
}

.detailspage:hover{
    cursor: pointer;
}

.deletestorebutton:hover{
    cursor: pointer;
}