<h1>List of all the phones:</h1>
<br>
<div class="maindiv">
    <section class="Results">
        <div class="controlsdiv">
            <div>
                <button type="submit" class="sortbutton" (click)="sortelements()">
                    <img src="https://cdn-icons-png.flaticon.com/128/2223/2223723.png" alt="sort">
                </button>
            </div>
            
        </div>
        <!-- <app-phone-model *ngFor="let phonemodel of phoneModelList" [PhoneModel]="phonemodel"></app-phone-model> -->
        <!-- <app-phone-model *ngFor="let phonemodel of phoneModelList.slice(slicingindex*5,5+slicingindex*5)" [PhoneModel]="phonemodel"></app-phone-model> -->
        <ng-container *ngIf="(phoneModelList | async) as phones">
            <app-phone-model *ngFor="let phonemodel of phones.slice(slicingindex * 5, 5 + slicingindex * 5)" [PhoneModel]="phonemodel" (phoneModelDeleted)="onPhoneModelDeleted()"></app-phone-model>
        </ng-container>
        <div class="pagingdiv">
            <div *ngIf="slicingindex>0" class="nextindexarrow">
                <button type="submit" class="pagingbutton" (click)="decIndex()">
                    <img src="https://cdn-icons-png.flaticon.com/128/271/271220.png" alt="left">
                </button>
            </div>
            <div *ngIf="slicingindex>0" class="nextindex" (click)="decIndex()">
                {{slicingindex}}
            </div>
            <div class="currentindex">
                {{slicingindex+1}}
            </div>
            <div *ngIf="phoneService.getPhonesList().length/5>slicingindex+1" class="nextindex" (click)="incIndex()">
                {{slicingindex+2}}
            </div>
            <div *ngIf="phoneService.getPhonesList().length/5>slicingindex+1" class="nextindexarrow">
                <button type="submit" class="pagingbutton" (click)="incIndex()">
                    <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png" alt="right">
                </button>
            </div>
        </div>
    </section>
    <section class="crudforms" >
        <div class="managebuttons">
            <button class="addbutton" (click)="toggleFormVisibility()">Add a new phone</button>
        </div>
        <br>
        <div *ngIf="showForm">
            <form [formGroup]="crudform" (submit)="AddNewPhone()">
                <div class="crudtable">
                    <table>
                        <tr>
                        <td> <label class="crudlabel" for="phoneNameInput">Phone Name: </label></td>
                        <td><input id="phoneNameInput" type="text" formControlName="phonename" required></td></tr>
                        <tr>
                            <td><label class="crudlabel" for="producerInput">Producer: </label></td>
                            <td><input id="producerInput" type="text" formControlName="producer" required></td></tr>
                        <tr>
                            <td><label class="crudlabel" for="yearInput">Year of Release: </label></td>
                            <td><input id="yearInput" type="number" formControlName="yearOfRelease" required></td></tr>
                        <tr>
                            <td><label class="crudlabel" for="colorInput">Color: </label></td>
                            <td><input id="colorInput" type="text" formControlName="color" required></td></tr>
                        <tr>
                            <td><label class="crudlabel" for="memoryInput">Memory: </label></td>
                            <td><input id="memoryInput" type="number" formControlName="phonememory" required></td></tr>
                        <tr>
                            <td><label class="crudlabel" for="photoInput">Photo: </label></td>
                            <td><input id="photoInput" type="text" formControlName="chosenphoto"></td></tr>
                    </table>
                    <button type="submit" [disabled]="!crudform.valid" class="savebutton">Save Phone</button>
                </div>
            </form>
        </div>
        <div class="chartandbutton">
            <div class="chartbuttondiv">
                <button type="submit" class="chartbutton" (click)="showchartdata()">
                    <img src="https://cdn-icons-png.flaticon.com/128/9311/9311549.png" alt="chart">
                </button>
            </div>
            <div class="chartdiv">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </section>
</div>